body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #333;
    padding: 10px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

a:hover {
    color: #ffcc00;
}

header {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

header h1 {
    color: #333;
}

.content {
    padding: 20px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.content h2 {
    color: #333;
}

.contact-info {
    flex-basis: 40%;
    text-align: left;
}

.contact-form {
    flex-basis: 50%;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

label {
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffcc00;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}