<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title> <!-- Titulo da sua Pagina -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Aqui Vinculamos nosso css static no html lembrando que a pasta
    deve ser static/css/css.css -->
</head>
<body>
    <nav>
        <ul>
            <li><a href="#inicio">INICIO</a></li>
            <li><a href="#contato">CONTATO</a></li>
            <li><a href="#sobre">SOBRE</a></li>
        </ul>
    </nav>

    <!-- Conteúdo da página -->
    <section id="inicio">
        <h2>Seja bem-vindo à página de INICIO!</h2>
        <!-- Conteúdo do início da página -->
    </section>

    <section id="contato">
        <h2>Entre em contato conosco!</h2>
        <!-- Conteúdo da página de contato -->
    </section>

    <section id="sobre">
        <h2>Conheça mais sobre nós!</h2>
        <!-- Conteúdo da página SOBRE -->
    </section>
</body>
</html>
