<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Pagina Inicial</title> <!-- Titulo da sua Pagina -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> <!-- Aqui Vinculamos nosso css static no html lembrando que a pasta
    deve ser static/css/css.css -->

<body>
    <h1>Pagina Inicial</h1> <!-- Titulo da sua Pagina -->

<nav>
    <li href="#home">Home</li>
    <li href="#sobre">Sobre</li>
    <li href="contato">Contato</li>

</nav>

</body>
</html>